body{
    display: flex;
    justify-content: center;
    margin: 0;
    background: rgb(30, 30, 30);  
}

.managment-container{
    position: fixed;
    display: flex;
    box-shadow: 0 0 15px 1px rgb(156, 156, 156);
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(163,184,251,1) 0%, rgba(186,165,255,1) 100%); 
}

.point-container{
    position: absolute;
    margin-top: 20px;
    margin-left: 3vw;
}

.check-icon, .point-icon{
    animation-name: icon-opacity;
    animation-duration: 0.7s;
}

.check-icon{
    margin-left: -6px;
}

.task-container{
    position: absolute;
    margin-top: 7vh;
    width: 100vw;
    height: 85vh;
    z-index: 1;
    overflow-y: auto;
}

.text-container{
    display: inline-block;
    width: 90vw;
}

.task-added{
    display: inline-block;
    white-space: nowrap;
    margin: 20px 4.5vw;
    font-size: 20px;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(0, 0, 0);
}

.btn-container{
    display: inline-block;
    margin-left: 1.5vw;
    width: 5.5vw;
}

.btn-added{
    display: inline;
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
    margin-right: 5px;
    background: rgb(255, 255, 255);
}

.btn-added:hover{
    background: rgb(224, 224, 224);
}

.btn-added:active{
    width: 27px;
    height: 27px;
    margin-right: 8px;
}

.btn-icon{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.btn-icon:active{
    width: 21px;
}

.input-text{
    display: flex;
    align-self: flex-end;
    align-items: center;
    border-top: 3px dotted rgb(99, 97, 97);
    width: 100%;
    height: 8vh;
}

.input-text__textarea{
    box-sizing: border-box;
    display: inline-block;
    margin-left: 3vw;
    border-radius: 5px;
    width: 87vw;
    height: 25px;
    border: none;
    background: rgb(30, 30, 30);  
    color: rgb(255, 255, 255);
    resize: none;
    font-size:17px ;
}

.input-text__textarea:focus{
    outline: 2px solid rgb(255, 255, 255);
}

.input-text__textarea::selection{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.input-text__add-task-btn{
    display: inline-block;
    margin-left: 1.5vw;
    border: none;
    border-radius: 30px;
    box-shadow: 4px -4px 0 0 rgb(255, 255, 255);
    width: 100px;
    height: 24px;
    background: rgb(30, 30, 30);  
    font-size: 15px;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: rgb(255, 255, 255);
}

.input-text__add-task-btn:hover{
    background: rgb(48, 48, 48);  
}

.input-text__add-task-btn:active{
    box-shadow: 2px -2px 0 0 rgb(209, 209, 209);
    margin-bottom: 1px;
    color: rgb(217, 217, 217);
}

.delete-alert{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 -5px 0 0 rgb(255, 255, 255);
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    border-radius: 10px ;
    width: 400px;
    height: 110px;
    background: rgb(30, 30, 30);
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.delete-btn-confirm, .delete-btn-cancel{
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: 3px 3px 0 0 black;
    border: 2px inset rgb(255, 255, 255);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    background: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.delete-btn-confirm:hover, .delete-btn-cancel:hover{
    background: rgb(212, 212, 212);
}

.delete-btn-confirm:active, .delete-btn-cancel:active{
    border: 2px outset rgb(255, 255, 255);
    box-shadow: 1px 1px 0 0 black;
}

.edit-alert{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 -5px 0 0 rgb(255, 255, 255);
    filter: drop-shadow(0 0 5px rgb(0, 0, 0));
    border-radius: 10px ;
    width: 500px;
    height: 210px;
    background: rgb(30, 30, 30);
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.edit-textarea{
    margin-bottom: 15px ;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 450px;
    height: 80px;
    background:rgb(91, 91, 91) ;
    color: white;
    font-size: 18px;
    font-family: 'Bricolage Grotesque', sans-serif;
    resize: none;
}

.managment-container__footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    box-shadow: 0 0 10px -10px rgb(90, 90, 90);
    width: 100%;
    height: 2vh;
    font-family: 'Bricolage Grotesque', sans-serif;
    opacity: .7;
}

@keyframes icon-opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


