body {
    margin: 0px;
    background-color: #232324;
    width: 1903px;
    height: 2100px;
}

#fondo_mosaico{
    position: absolute;
    width: 1903px;
    height: 2100px;
    background-image: url(fondo\ mosaico.jpg);
    opacity: 0.06;
}

#barra_superior {
    position: absolute;
    width: 1903px;
    height: 50px;
    background-color: black;
    opacity: 0.2;
}

#logo_pagina{
    position: absolute;
    scale: 0.17;
    top: -87px;
    left: -100px;
}

#contacto {
    position: absolute;
    top: 8px;
    left: 1820px;
    color: #ffffff;
    font-style: italic;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#titulo_principal {
    position: absolute;
    left: 720px;
    top: -10px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#espacio_vacio {
    position: absolute;
    top: 0px;
    left: 30px;
    margin: 0px;
    padding-left: 1825px;
    padding-bottom: 26px;
    opacity: 1;
    border-radius: 20px;
    box-shadow:#00000066 0px 7px;
    background-color: #6F6357;
}

.formulario {
    position: absolute;
    left: 780px;
    bottom: -1100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    background-color: rgb(19, 19, 19);
    color: rgb(255, 255, 255);
    border-radius: 0%;
    border-color: #232324;
    border-style:double ;
    border-width: 10px;
}

#contactar {
    margin-bottom: 60px;
    margin-left: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cuerpo{
    position: relative;
    left: 18px;
}

#asunto {
    position: relative;
    left: 27px;
}

#seleccion {
    position: relative;
    left: 7px;
}

#De {
    position: relative;
    left: 60px;
}

.rellenar_formularios {
    margin-bottom: 40px;
    margin-left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#enviar {
    position: relative;
    right: 137px;
    top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texto_formulario {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sobremi {
    position: absolute;
    width: 1000px;
    margin-top: 120px;
    margin-left: 750px;
    text-align: justify;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.habilidades{
    position: absolute;
    width: 1000px;
    text-align: initial;
    padding-right: 100px ;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    left: 0px;
    margin-top: 500px;
    box-shadow: 5px 5px 80px rgb(0, 0, 0);
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.habilidades_personales{
    position: absolute;
    width: 750px;
    text-align: initial;
    right: 0px;
    margin-top: 740px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 5px 5px 80px rgb(0, 0, 0);
    background-color: #343434;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.experiencias{
    position: absolute;
    margin-top: 1060px;
    margin-left: 80px;
    color: white;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 25px;
    line-height: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

#titulo_experiencias{
    position: absolute;
    margin-top: 1035px;
    margin-left: 40px;
    color: white;
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 30px;
    line-height: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.fondo_experiencias{
    position: absolute;
    height: 465px;
    width: 1140px;
    margin-top: 1003px;
    background-color: rgb(30, 30, 30);
    box-shadow: 5px 5px 80px rgb(0, 0, 0);
}

#notebook {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 100px;
    top: -50px;
    background-image: url(Notebook\ illustration\ laptop\ \(1\).png);
}

#contenido_notebook{
    position: absolute;
    width: 700px;
    height: 300px;
    scale: 0.53;
    left: 5px;
    top: 0px;
    background-image: url(plantillas-web-gratis.jpg);
    background-repeat: no-repeat;
    background-color: white;
}

#background_notebook {
    position: absolute;
    width: 380px;
    height: 225px;
    top: 30px;
    left: 170px;
    background-color: white;
}

#fondo_plantillaweb {
    position: absolute;
    width: 1903px;
    height: 410px;
    background-color: #343434;
    box-shadow: 5px 5px 80px rgb(0, 0, 0);
}