body{
    height: 930px;
    background-color: #b5e0c7;
}
.topo {
    position: absolute;
    width: 100px;
}

.box-shadow-hidden{
    margin: auto;
    width: 1800px;
    height: 910px;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 0px 0px 10px 1px black;
}

.container-topo-hidden{
    margin: auto;
    width: 1800px;
    height: 850px;
    background-color: transparent;
}

.container-topo-visible{
    margin: auto;
    width: 1800px;
    height: 850px;
    background: linear-gradient(90deg, #9A842A, #c0a848) ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container-score{
    margin: auto;
    margin-top: 40px;
    width: 1800px;
    height: 60px;
    text-align: center;
    background-color: rgb(200, 200, 200);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.menu-topo{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.start-button{
    position: absolute;
    width: 200px;
    height: 30px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    background-color: rgb(70, 74, 90);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

.score-menu{
    position: absolute;
    right:0;
    left: 0;
    margin: auto;
    margin-top: 100px;
    font-size: 70px;
    color: rgb(60, 88, 116);
}

.score{
    position: absolute;
    right: 85px;
    top: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

.counter-img{
    position: absolute;
    width: 50px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 46px;
    margin-left: 80px;
    background-color: rgb(227, 228, 228);
    padding: 6px;
    padding-right: 70px;
    border: 1px solid rgb(47, 47, 47);
    border-radius: 8px;
}

.counter{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 42px;
    margin-left: 150px;
    font-size: 40px;
    font-family: cursive;
}

.change-difficulty-button{
    position: absolute;
    left: 80px;
    width: 170px;
    height: 25px;
    margin: auto;
    margin-top: 18px;
    font-size: 15px;
    border-radius: 50px;
    background-color: rgb(139, 146, 175);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
}

.difficulty-selector-title{
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    text-align: center;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    color: rgb(46, 68, 71);
}

.easy-difficulty-button{
    position: absolute;
    width: 230px;
    height: 50px;
    left: 0;
    right: 600px;
    margin: auto;
    margin-top: 75px;
    font-size: 20px;
    border-radius: 50px;
    border-color: white;
    background-color: rgb(108, 144, 141);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.medium-difficulty-button{
    position: absolute;
    width: 230px;
    height: 50px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 75px;
    font-size: 20px;
    border-radius: 50px;
    border-color: white;
    background-color: rgb(108, 144, 141);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.hard-difficulty-button{
    position: absolute;
    width: 230px;
    height: 50px;
    left: 600px;
    right: 0;
    margin: auto;
    margin-top: 75px;
    font-size: 20px;
    border-radius: 50px;
    border-color: white;
    background-color: rgb(108, 144, 141);
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.easy-difficulty-button:hover, .medium-difficulty-button:hover, .hard-difficulty-button:hover{
    border-style: inset;
    color: rgb(227, 227, 227);
}

.start-button:hover{
    border-style: inset;
    background-color: rgb(55, 58, 72);
    color: rgb(227, 227, 227);
}

.change-difficulty-button:hover{
    border-style: inset;
    background-color: rgb(114, 120, 143);
    color: rgb(218, 218, 218);
}

